# Python Syntax

In [1]:
print('hello world')

hello world

# Python Variables

In [2]:
# Variables-- container which contains a value, information or data

greeting3 = 'Good Morning'

print(greeting, 'Tom')
print(greeting, 'Jhon')
print(greeting, 'Cat')

number = 2
number1 = 2.5

print(number, number1)

NameError: name 'greeting' is not defined

# Python Data Types

In [3]:
# text-type

name = '''James'''
print(name, type(name))

James <class 'str'>

In [4]:
# Numeric Type
num = 20
price = 25.5

print(num, price)
print(type(num), type(price))

20 25.5
<class 'int'> <class 'float'>

In [5]:
# Sequence Type
list = [1,2,3,4,5, 6]
print(list)

tuple_type = (2, 5, 7)
print(tuple_type, type(tuple_type))

[1, 2, 3, 4, 5, 6]
(2, 5, 7) <class 'tuple'>

In [6]:
# Mapping Type

data = {'name':'Jhon', 'age': 20}
print(data, type(data))

{'name': 'Jhon', 'age': 20} <class 'dict'>

In [7]:
# Boolean Type

is_active = True
has_money = False
print(type(is_active))
print(type(has_money))

<class 'bool'>
<class 'bool'>

In [8]:
# Set Type

setType = {'James', 'Jhon', 'Rock', 4, 4.5}
print(setType, type(setType))

{'Rock', 4.5, 4, 'Jhon', 'James'} <class 'set'>

In [9]:
# Integer -- negative or positive

age = 25
temp = -3

a = 5
b = 5

print(a + b)
print(a * b)
print(a - b)
print(a / b)

10
25
0
1.0

In [10]:
# Float -- negative or positive

percent = 0.5
height = 1.54

a = .5
b = 2.5

print(a + b)
print(a * b)
print(a - b)
print(a / b)

3.0
1.25
-2.0
0.2

In [11]:
number = 5
number2 = 3

print(number // number2)
print(number % number2)
print(number ** number2)

1
2
125

In [12]:
print(number + 10)

15

In [14]:
x = 20
x1 = 20

x = x + 10 # Output -- 30 
print(x)
x1 += 10 # x1 = x1 + 10
print(x1)

30
30

In [19]:
# Comparison Operator --- two or more values --- true or fasle

a = 10
b = 20
print(a > b)
print(b > a)
print(a < b)
print( a == 10 )

False
True
True
True

In [26]:
# >=, <=, !=

x = 4
y = 5

print(x >= 10)
print(x <= 2)
print(x != y)

False
False
True

In [42]:
# Logical Operators -- are used to combine two or more condtional statement or expression
# and -- returns True if both statements are true
# or  -- returns True if one of the statements is true
# not -- revers the result, returns False if the result is true or vice-versa

x = 5

# print(True and False)

# print(x < 10 or x > 10)

y = x > 2

# print(not(y))

print(not(False))

True

In [7]:
# String --- collection characters or in Python it is array of bytes which unicode characters
# single quotation, double quatoation, '', ""

print('James')
print("James")

# It's

print('It\'s')
print("It's")
print("Quote: \"Hello there\"")

James
James
It's
It's
Quote: "Hello there"

In [8]:
job = "Software Engineer"
print(job)

Software Engineer

In [11]:
print(job[7])

e

In [12]:
a  = """We are learning Python
python is most popular programming language"""

print(a)

We are learning Python
python is most popular programming language

In [13]:
b  = '''We are learning Python
python is most popular programming language'''
print(b)

We are learning Python
python is most popular programming language

In [27]:
# Python collection -- four collection data types
# List
# Tuple
# Dictionary
# Set

# List: collection items -- different kind of items

list = [1, True, 'James', 2.5]
# print(list)

# print(list[0])

# Changeable, ordered and can be duplicate items

users = ['Tom', 'Bob']
print(users)

users.append('James')

print(users)

users.remove('James')
print(users)

users.append('Bob')
print(users)

# len()
print(len(users))

['Tom', 'Bob']
['Tom', 'Bob', 'James']
['Tom', 'Bob']
['Tom', 'Bob', 'Bob']
3

In [30]:
# pop()
# users.pop()

# print(users)

# insert : insert items at specified position in the list

# users.insert(1, 'Jhon')
# print(users)

# clear(): this clear list

users.clear()
print(users)

[]

In [31]:
print(type(users))

<class 'list'>

In [32]:
# Tuple: similar to list but it cannot be modified once created

person = (2, True, 5.6, 'James')
print(type(person))

<class 'tuple'>

In [33]:
a = (2.5,)
print(a)

(2.5,)

In [35]:
b = ('James', 'James')
print(b)

('James', 'James')

In [36]:
print(len(b))

2

In [37]:
c = ()
print(type(c))

<class 'tuple'>

In [38]:
print(c)

()

In [39]:
print(person[2])

5.6

In [41]:
# count() -- number of times a specified value occures in tuple
b.count('James')

2

In [44]:
# index() -- search the tuple fora specfied value and returns the position of that value

person.index(1)

1

In [16]:
# set: It is used to store multiple items in single variable

myset = {'apple', True, 20, 4.5}
print(myset)

# unordered

{True, 20, 4.5, 'apple'}

In [17]:
# unchangeable - you can't change value of the set but you can add or remove the items

myset.add('jhon')
print(myset)

{True, 4.5, 'apple', 'jhon', 20}

In [18]:
myset.remove(20)
print(myset)

{True, 4.5, 'apple', 'jhon'}

In [19]:
# not allow duplicate values

myset.add('apple')
print(myset)

{True, 4.5, 'apple', 'jhon'}

In [20]:
print(len(myset))

4

In [21]:
# pop()
myset.pop()
print(myset)

{4.5, 'apple', 'jhon'}

In [22]:
# discard()

myset.remove('rock')
print(myset)

KeyError: 'rock'

In [23]:
myset.discard('rock')
print(myset)

{4.5, 'apple', 'jhon'}

In [24]:
# clear()

print(myset)

{4.5, 'apple', 'jhon'}

In [25]:
myset.clear()
print(myset)

set()

In [27]:
# dictionary: dictionaries are used to store data as key:value pairs

mydict = {1: 'James', 'age': 20}
print(mydict)

{1: 'James', 'age': 20}

In [28]:
mydict[1]

'James'

In [29]:
mydict['age']

20

In [31]:
# get()

print(mydict.get('age'))

20

In [32]:
#keys()

print(mydict.keys())

dict_keys([1, 'age'])

In [33]:
# values()
print(mydict.values())

dict_values(['James', 20])

In [34]:
# change the value of dict

mydict['age'] = 25

print(mydict)

{1: 'James', 'age': 25}

In [35]:
# update()

print(mydict)

{1: 'James', 'age': 25}

In [36]:
print(mydict.update({1:'Jhon'}))

None

In [37]:
print(mydict)

{1: 'Jhon', 'age': 25}

In [38]:
# add the value to the dict

mydict['gender'] = 'male'

print(mydict)

{1: 'Jhon', 'age': 25, 'gender': 'male'}

In [39]:
mydict.update({'country': 'USA'})
print(mydict)

{1: 'Jhon', 'age': 25, 'gender': 'male', 'country': 'USA'}

In [40]:
# remove dict

# pop()
mydict.pop('country')
print(mydict)

{1: 'Jhon', 'age': 25, 'gender': 'male'}

In [41]:
# del keyword

del mydict['gender']
print(mydict)

{1: 'Jhon', 'age': 25}

In [42]:
# clear()
mydict.clear()
print(mydict)

{}

# Python Control and Flow

In [46]:
# control and flow -- the order in which individual statements, instructions, or function calls are executed or evaluted.
# Python provides serveral control flow statements that help developers define the execution logic of a program

# conditional statments : if, if-else, if-elif-else
# Looping statments : for loop, while loop
# control flow keywords: break, continue, pass

In [56]:
# condtional statements -- allow the execution of different bloacks of code based on whether a condition to True or False.
# if
x = 10
if True:
    print('X is smaller than 20')

X is smaller than 20

In [57]:
print(x < 20)

True

In [58]:
if x < 10 :
    print('X is smaller than 20')
else:
    print('X is not smaller than 20')

X is not smaller than 20

In [61]:
# elif

x = 5
if False:
    print('x is greater than 20')
elif x == 15:
    print('x is equal to 15')
elif x == 5:
    print('x is equal to 5')
else:
    print('x is less than 15')

x is equal to 5

In [3]:
# looping statement
# for loop and while

# for loop: iterate over sequence (list, tuple, set, dictionary,or range)

# for variable in sequence:
    # block of code that you will be executed for each element in the sequence

users = ['James', 'Bob', 'Rock']

for user_name in users:
    print(user_name)

James
Bob
Rock

In [4]:
word = 'hello'
for character in word:
    print(character)

h
e
l
l
o

In [5]:
# range() : generate sequence of numbers
# range(5): 0, 1, 2, 3, 4

x = 20

for i in range(5):
    print(x + i)

20
21
22
23
24

In [6]:
# dictionary
person = {'name': 'James', 'age': 30, 'city': 'New York'}

for user in person:
    print(person[user])

James
30
New York

In [1]:
# repeatedly executes a block of code as long as a given condition is True, Unlike the for loop, which iterates over a sequence
# the while loop continues until the condition becomes False

# while condition:
    # code block to execute

i = 1

while i <=5:
    print(i)
    i += 1 # Increment i by 1 in each iteration

1
2
3
4
5

In [3]:
counter = 10
while counter > 0:
    print(counter)
    counter -= 1

10
9
8
7
6
5
4
3
2
1

In [9]:
# control flow : break, continue and pass
# break: break the execution or flow

number = [1, 3, 5, 6]
for i in number:
    if i==3:
        break
    print(i)

1

In [12]:
# continue : it skips the iteration

for i in number:
    print(i)
    if i == 3:
        continue

1
5
6

In [13]:
# pass : null operation and it does nothing

for i in range(5):
    if i==3:
        pass # Do nothing when i equal to 3 , just act as placeholder for the future code that yet to be written
    print(i)

0
1
2
3
4

# Python functions

In [4]:
# function

# def function_name():
    # function body : block of code
# defining function name greet
def greet():
    print('Hello, there')

greet() # calling the function

Hello, there

In [5]:
greet()
greet()

Hello, there
Hello, there

In [7]:
# parameters and arguments

def add(x, y):
    print(x + y)

add(4, 5)

def sub(z, k):
    print(z - k)

sub(5, 4)

9
1

In [12]:
# reutrn values
def add(x, y):
    return x+y

result = add(4, 5)
print(result)

def mul(x, y, z):
    return x * y * z

res_mul = mul(x=3, y=4, z=5)
print(res_mul)

9
60

In [14]:
# default parameters

def greet(name='Friend'):
    print(f"Hello, {name}")

greet()
greet("Bobby")

Hello, Friend
Hello, Bobby

In [16]:
# Aribitrary Arguments
def print_numbers(*args):
    for number in args:
        print(number)
print_numbers(1,2, 3, 4, 5, 6)

1
2
3
4
5
6

In [18]:
# Aribitrary Keyword Arguments : *args, **kwargs

def describe_person(**kwargs):
    print(kwargs)

describe_person(name = "Bobby", age=25, country="USA")

{'name': 'Bobby', 'age': 25, 'country': 'USA'}

In [19]:
# lambda function 

add = lambda a,b : a + b

print(add(3, 4))

7

In [20]:
sub = lambda a,b,c : a-b-c
print(sub(3,4,5))

-6

# Recursion

In [1]:
# recursion: It is concept when function call itself to solve a smaller part of a bigger problem.
# base case: This is the condition that stops the recursion, preventing infinite calls
# recursive case: This is where the function calls itself with a smaller or simpler input.

# factorial: n! --> 2! = 2 * 1 --> 2

# 3! = 3 * 2 * 1 ---> 6

# n! = n * (n-1) ---- recursive case

# 1! = 1 ---- base case

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)


print(factorial(4))

24

In [5]:
# positional and keyword argument

def greet(name, age):
    print(f"Hello, {name}, You are {age} years old")


# greet("Bobby", 25)

greet(age = 25, name = "Bobby")

Hello, Bobby, You are 25 years old

In [10]:
# / -- positional args
# * -- keyword args

def greet(name,/, *, age):
    print(f"Hello, {name}, You are {age} years old")


greet("bobby", age = 23)

Hello, bobby, You are 23 years old

In [4]:
# input() : takes input or data from the user

# a = 10

b = input("Enter the integer value")
print(type(b))

Enter the integer value 10

<class 'str'>

In [9]:
# Type conversion or typecast

b = "100"
type(b)

c = int(b)
print(type(c))

d = float(b)
print(f"converted to float {d}", type(d))

<class 'int'>
converted to float 100.0 <class 'float'>

In [11]:
y = 100
e = str(y)
print(f"converted to string {e}", type(e))

converted to string 100 <class 'str'>

In [12]:
b = int(input("Enter the integer value"))
print(type(b))

Enter the integer value 10

<class 'int'>

# Error Handling

In [4]:
# try-except, else, 

try:
    print(1/0)
except ZeroDivisionError:
    print(f"You can not divide by zero")

print(2+2)

You can not divide by zero
4

In [5]:
x = 2 * spam
print(x)

NameError: name 'spam' is not defined

In [6]:
try:
    x = 2 * spam
except NameError:
    print("The NameError has occured")
y = 4 -3
print(y)

The NameError has occured
1

In [8]:
try:
    x = 2 / 0
    y = 2 * 2
except ZeroDivisionError:
    print(f"You can not divide by zero")
except NameError:
    print("The NameError has occured")

You can not divide by zero

In [9]:
# else
try:
    x = 2 / 1
    y = 2 * 2
except ZeroDivisionError:
    print(f"You can not divide by zero")
except NameError:
    print("The NameError has occured")
else:
    print(f" division result {x} and mulitplication result {y}")

 division result 2.0 and mulitplication result 4

In [2]:
# finally statement


try:
    x = 2 / 0
    y = 2 * 2
except ZeroDivisionError:
    print(f"You can not divide by zero")
except NameError:
    print("The NameError has occured")
else:
    print(f" division result {x} and mulitplication result {y}")

finally:
    print("try-exept executed successfully")
    # close objects and clean some resources

# https://docs.python.org/3/tutorial/errors.html

You can not divide by zero
try-exept executed successfully

In [11]:
# raise

def check_age(age):
    if age < 0:
        raise ValueError('Not a valid age...')
    elif age >= 21:
        print('You are old enough!')
        return True
    else:
        print('You are not old enough!')
        return False

check_age(-12)

ValueError: Not a valid age...

# Python module, package and library

In [23]:
# moduel: single file with .py and this contains all the code like functions, classses and variables

# built-in module

import math

In [24]:
math.sqrt(16)

4.0

In [25]:
math.pi

3.141592653589793

In [26]:
import os

In [27]:
os.getcwd()

'C:\\Users\\saura\\OneDrive\\Desktop\\Python'

In [29]:
os.mkdir('data')

In [30]:
import sys

sys.version

'3.12.6 (tags/v3.12.6:a4a2d2b, Sep  6 2024, 20:11:23) [MSC v.1940 64 bit (AMD64)]'

In [31]:
import datetime

now = datetime.datetime.now()
print(now)

2024-09-29 10:21:55.095491

In [1]:
# create module

import mymodule

In [2]:
mymodule.show('Jhon')

Hello, Jhon

In [3]:
mymodule.add(3,4)

7

In [4]:
mymodule.person

{'age': 20, 'name': 'James'}

In [5]:
from mymodule import show

In [6]:
show('Rock')

Hello, Rock

In [7]:
# package: collection of modules, can contains sub-packages

from mathify import cal

In [8]:
print(cal)

<module 'mathify.cal' from 'C:\\Users\\saura\\OneDrive\\Desktop\\Python\\mathify\\cal.py'>

In [9]:
cal.add(3, 5)

8

In [10]:
cal.sub(5,6)

-1

In [11]:
cal.div(4,2)

2.0

In [ ]:
# library: 
# create new folder -- meaningful name
# include packages, moudle or subpackages

# Python Basic Continued

In [1]:
# True and False

a = 5 > 2

if a:
    print('five is greater than 2')
else:
    print('Five is not greater than 2')

five is greater than 2

In [2]:
# Truthy and Falsy

x = 5
if x:
    print(f'{x}')

5

In [3]:
# bool()

bool(x)

True

In [4]:
bool(4)

True

In [7]:
# 1 == True
# 0 == False

bool(1)

True

In [8]:
bool(0)

False

In [10]:
# 1 or 0 with if and while, then it will work fine

# if 1:
#     print('This is the truthy value')

if 0:
    print('This is the truthy value')
else:
    print('This is the falsy value')

This is the falsy value

In [15]:
a = []

bool(a)

False

In [17]:
t = ()
bool(t)

False

In [20]:
# [],(),{}, set(), "", range(0) : Falsy which means False value

# Zero of any numeric type is falsy or false value
bool(0j)

False

In [21]:
# constants like None and False is falsy or false value
bool(None)

False

In [22]:
bool(False)

False

In [24]:
# if collections or sequences are not empty then these are truthy or true values
# Numeric value that are not zero is truthy value or true value
# True

True

In [26]:
users = []

if users:
    print('list contains users')
else:
    print('list is empty')

list is empty

In [32]:
# scopes
# global and local scopes

number = 10

# number = 20
# print(number)

def change_number():
    print(number)

change_number()

10

In [43]:
def number():
    # global number
    number1 = 10
    print(number)
    def inner_func():
        nonlocal number1
        number1 = 40
        print(number)

    inner_func()
    
print(number1)

NameError: name 'number1' is not defined

In [2]:
# list comprehension : shorter syntax for creating a new list based on the values of an existing list

fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']

# new_list = []

# for x in fruits:
#     if 'a' in x:
#         new_list.append(x)
        
# print(new_list)


new_list = [ x for x in fruits if 'a' in x]
print(new_list)

['apple', 'banana', 'mango']

In [3]:
new_fruit_list = []

for x in fruits:
    new_fruit_list.append(x)

print(new_fruit_list)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [4]:
new_fruit_list2 = [ x for x in fruits ]
print(new_fruit_list2)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [5]:
numbers = [k for k in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [19]:
# slicing 

sequences = [1, 2, 3, 4, 5, 6]

sequences[0:3]

sequences[1:4]

# iterable[starting_index : ending_index + 1]

sequences[2:6]

[3, 4, 5, 6]

In [21]:
sequences[3:]

[4, 5, 6]

In [23]:
sequences[:3]

[1, 2, 3]

In [24]:
sequences[: 6]

[1, 2, 3, 4, 5, 6]

In [26]:
sequences[:3] + sequences[3:]

[1, 2, 3, 4, 5, 6]

In [34]:
sequences[-1]

6

In [35]:
sequences[-2]

5

In [36]:
sequences[-3:]

[4, 5, 6]

In [37]:
sequences[:-3]

[1, 2, 3]

In [38]:
sequences[-3:-2]

[4]

In [40]:
sequences = [1, 2, 3, 4, 5, 6]

sequences[::3]

[1, 4]

In [ ]:
# iterable[start:end:step=1]

In [41]:
name = 'james'
name[2]

'm'

In [42]:
name[2:4]

'me'

In [43]:
name[-3:]

'mes'